<h1>ADD A DOG TO OUR DATABASE</h1>
<form method="POST" action='/display_puppy'>
  <input name="name" type="text" placeholder="Name" autocomplete="off">
  <input name="breed" type="text" placeholder="Breed" autocomplete="off">
  <input name="age" type="number" placeholder="Age">
  <input type="submit" name="Submit">
</form>
